.ipynb_checkpoints/
*_checkpoint*
toybrains/
dataset/
results/
**/images/*.jpg
**/labels/*.jpg
**/toybrains_n*.csv
**/*.cpython-*.pyc 
*.cpython-*.pyc
nohup.out
**/nohup*.out
**/*log*/
**/*.pt
**/*.ckpt
**/*.h5
**/wandb
*.swp
