.ipynb_checkpoints/
*_checkpoint*
results/
**/images/*.jpg
**/labels/*.jpg
**/toybrains_n*.csv
**/*.cpython-*.pyc 
*.cpython-*.pyc
nohup.out
**/nohup*.out
**/*.pt
**/*.ckpt
**/*.h5
**/wandb
*.swp
experiments/__*.ipynb
**/configs/**
**/_nohup/**
**/dataset/**
**/log/**
.nfs*
experiments/lblmidr-consite/configs/lblmidr-consite_cy0_cX0_yX0.py
