.ipynb_checkpoints/
**/__pycache__/
*_checkpoint*
results/
**/images/*.jpg
**/labels/*.jpg
**/toybrains_n*.csv
**/*.cpython-*.pyc 
*.cpython-*.pyc
nohup.out
**/nohup*.out
**/*.pt
**/*.ckpt
**/*.h5
**/wandb
*.swp
experiments/__*.ipynb
**/configs/**
**/dataset/con**
**/_nohup/**
**/log/**
.nfs*
__*.ipynb
*.zip
*.html
**/run.csv
**/baseline_results.csv
_archive/exp*
